@model IEnumerable<Tourism.Models.State>
@{
    List<string> allTimezones = ViewData["AllTimezones"] as List<string>;
}

<h1>States</h1>
<h2>Timezone Filter</h2>
@if(ViewData["SearchTimezone"] != null)
{
    <p>Filtering by: <strong>@ViewData["SearchTimezone"]</strong></p>
}
<p>
    <a href="/states">Clear Filter</a>
    @foreach(var timezone in allTimezones)
    {
        <a href="/states?timezone=@timezone">@timezone</a> 
    }
</p>

@foreach (var state in Model)
{

    <p>
        <form method="post" action="/states/delete/@state.Id">
            <button type="submit" onclick="return confirm('Are you sure you want to delete @state.Name?')">Delete</button>
        </form><strong>@state.Abbreviation</strong>: <a href="/states/@state.Id">@state.Name</a>
    </p>
}

<p><a href="/states/new">New State</a></p>
